# =============== #
# Unity generated #
# =============== #
Temp/
Library/
[Oo]bj/
[Bb]uild
sysinfo.txt
*.stackdump

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# ================= #
# Editors generated #
# ================= #
*.swp

# ================ #
# Project Settings #
# ================ #
!/Assets/ProCore/ProBuilder/Icons/
